<!DOCTYPE html> <html>
    <head>
        
    </head>
    <body>
        <form action="/fileuploads" method="POST" enctype="multipart/form-data">
            <input type="text" name="textdata">
            <input type="file" name="data">
            <button type="submit">Submit</button>
        </form>
    </body>
</html>